@import '../../scss/global-variable';
.menu{
    cursor: pointer;
    text-align: center;
    color: $color-dark-gray;
    padding: 0 1rem;

    &__icon{
        margin: -0.1rem 0;
        transform: scale(1.3);
    }

    &__profile-icon{
        transform: scale(0.8);
        margin: -0.5rem 0;
    }

    h1{
        font-size: 1rem;
        font-weight: 400;
    }

    &:hover{
        color: $color-black;
}
}
