// import here is using to import scss global variables from outside directory
@import '../../scss/global-variable';

.navbar{
border: 1px green solid;
padding: 1rem 0;
display: flex;
justify-content: space-evenly;

&__left{
    display: flex;
    align-items: center;
}

    &__image{
        object-fit: contain;
        height: 2.5rem;
    }

    &__search-box{
      display: flex;
      align-items: center;
      background-color: $color-gray;
      border-radius: 0.4rem;

      .searchbox-icon{
          margin: 0 0.7rem;
      }

       input{
        // background none make input like png file where their is nothing its behind
           background: none;
           height: 100%;
           border: none;
           outline: none;
           padding:0.5rem;
           font-size: 1.2rem;
           
       }
    
    }

// menu
&__menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

}